<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.MerchantOrderLogMapper">

    <select id="findLatestByOrderNo" resultType="org.example.entity.MerchantOrderLog">
        SELECT * FROM merchant_order_log
        WHERE order_no = #{orderNo}
        ORDER BY id DESC
        LIMIT 1
    </select>

</mapper>
